<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @profile.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @profile.last_name %>
</p>

<p>
  <strong>City:</strong>
  <%= @profile.city %>
</p>

<p>
  <strong>Country:</strong>
  <%= @profile.country %>
</p>
<%# if @profile.reward_points > 0 %>
<!--    <p>-->
<!--      <strong>Reward points:</strong>-->
      <%#= @profile.reward_points %>
<!--    </p>-->

<!--    <p>-->

<!--      <strong>Rewards expiry date:</strong>-->
      <%#= @profile.rewards_expiry_date.strftime("%d %b %Y") %>
<!--    </p>-->
  <%#  end %>

<%= link_to 'Edit Profile', edit_profile_path(@profile) %>

