<%= link_to 'Back', root_path %>
<div class="jumbotron">
  <h1 class="display-4">Rewards History</h1>
  <h3>Current reward points: <b><%= current_user.profile.reward_points %></b></h3>
  <h6> Rewards Expire On: <b><%= current_user.profile.rewards_expiry_date.strftime("%d %b %Y") %></b></h6>
</div>


  <table class="table table-bordered">
    <thead class="thead-light">
    <tr>
      <th>Date of Purchase</th>
      <th>Product</th>
      <th>Loan Amount</th>
      <th>Reward Points Earned</th>
    </tr>
    </thead>

    <tbody>
    <% @purchases.each do |purchase| %>
      <tr>
        <td><%= purchase.created_at.strftime("%d %b %Y") %></td>
        <td><%= purchase.product.name %></td>
        <td><%= purchase.amount %></td>
        <td><%= purchase.reward_points %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

