<h1> Bienvenue à Lewards</h1>

<hr>
<h3>Your total rewards: <h5><%= current_user.profile.reward_points %></h5></h3>
<h6> Rewards Expire On: <b><%= current_user.profile.rewards_expiry_date.strftime("%d %b %Y") %></b></h6>
<hr>

<h3>Our Products</h3>
<hr>

<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Interest rate</th>
    <th>Reward points factor</th>
    <th>Rewards validity duration</th>
    <th colspan="2"></th>
  </tr>
  </thead>

  <tbody>
  <% @products.each do |product| %>
    <tr>
      <td><%= product.name %></td>
      <td><%= product.interest_rate %></td>
      <td><%= product.reward_points_factor %></td>
      <td><%= product.rewards_validity_duration %></td>

      <td><%= link_to 'Purchase', new_purchase_path(product_id: product.id) %></td>

    </tr>
  <% end %>
  </tbody>
</table>
