<div class="row">
  <div class="col-xs-12 col-md-6 mx-auto">
    <div class="jumbotron">
      <%= link_to 'Back', root_path %>
      <h1 class="display-6"><%= product_action %> Product</h1>
      <p class="lead">Add/edit the new loan products</p>
      <hr class="my-2">

      <%= form_with(model: product, local: true) do |f| %>
        <% if product.errors.any? %>
          <div class="error_explanation">
            <ul>
              <% product.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <div class="form-group">
          <%= f.label :name %>
          <%= f.text_field :name, class: 'form-control', autofocus: true, class: 'form-control', autocomplete: "Product Name" %>
        </div>

        <div class="form-group">
          <%= f.label :interest_rate %>
          <%= f.number_field :interest_rate, class: 'form-control', autofocus: true, class: 'form-control', autocomplete: "Interest Rate" %>
        </div>

        <div class="form-group">
          <p class="lead"> </p>
          <%= f.label :reward_points_factor %>
          <%= f.number_field :reward_points_factor, class: 'form-control', autofocus: true, class: 'form-control', autocomplete: "Reward points percentage" %>
          <small class="form-text text-muted">
            The percentage of reward points to be awarded to customer w.r.t loan amount
          </small>
        </div>

        <div class="form-group">
          <%= f.label :rewards_validity_duration %>
          <%= f.number_field :rewards_validity_duration, class: 'form-control', autofocus: true, class: 'form-control', autocomplete: "Rewards validity in months" %>
          <small class="form-text text-muted">
            The validity duration in months
          </small>
        </div>

        <br/>
        <%= f.submit "Submit", class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>


